# Binarios generados
*.out
*.o

# Ejecutables sin extensión (más seguro con path)
Unidad 1/lab1/calc
Unidad 1/lab1/contador
Unidad 1/lab1/cronometro
Unidad 1/lab1/order
Unidad 1/lab1/semaforo
Unidad 1/lab1placa/led
Unidad 1/EjecutivoCiclico/ejercicio


Unidad 2/lab2/caso_a
Unidad 2/lab2/caso_b
Unidad 2/lab2/caso_c
Unidad 2/lab2/clima
Unidad 3/venv